// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #73b592 !default;
$brand-info:                 #27393e !default;
$brand-success:              #58b164 !default;
$brand-warning:              #d5a12c !default;
$brand-danger:               #f44336 !default;
$brand-rose:                 #AC543D !default;
$brand-inverse:              #2E4145 !default;
