// Bootstrap brand color customization

/* mamane design colors */
$brand-dark-blue:            #083849 !default;
$brand-medium-blue:          #0B4C65 !default;
$brand-cyan:                 #20B2AA !default;
$brand-light-cyan:           rgba(32, 178, 170, 0.25) !default;
$brand-grey:                 #DFE0EB !default;


/*     brand Colors              */

$brand-primary:              $brand-cyan !default;
$brand-info:                 $brand-medium-blue !default;
$brand-success:              #58b164 !default;
$brand-warning:              #FFC443 !default;
$brand-danger:               #f44336 !default;
$brand-rose:                 #F74B96 !default;
$brand-inverse:              $brand-dark-blue !default;

