<h1>Bienvenue dans la communauté Carbo, <%= @user.name %></h1>
<p>Ton compte Carbo a bien été créé avec l'email <%= @user.email %>, tu peux désormais connecter ton compte en banque et commencer à calculer ton impact carbone sans effort.</p>
<p>Si tu as la moindre question concernant le fonctionnement de Carbo ou des suggestions n'hésite pas à me répondre, je lis tous mes mails ;)</p>
<p>Merci pour ta confiance, passe une excellente journée !</p>
