
<div class="col-md-12 text-center">
  <h4>
    L'impact carbone hebdomadaire est de
    <%= (@average_history.last.month_total * 1000 / (12*4)).to_i %>
    kg CO2 en moyenne
    <small> sur les 4 dernières semaines</small>
  </h4>
  <h4>
    A ce rythme, l'impact carbone annuel moyen sera de
    <%= @average_history.last.year_total.round(2) %>
    TCO2.
    <small></small>
  </h4>
  <div class="card">
    <div class="card-header card-header-info">
      <div class="emoji-title">
        📈
        <h4>
          Indice de consommation carbone hebdomadaire
        </h4>
      </div>
    </div>
    <div class="card-body">
      <%=
        area_chart [
      {
        name: @categories[0].name,
        data: @average_history.map { |average| [average.created_at, average.week_detail[0].to_f] },
        dataset: { backgroundColor: @categories[0].color, borderColor: @categories[0].color},
        color: @categories[0].color
      },
      {
        name: @categories[1].name,
        data: @average_history.map { |average| [average.created_at, average.week_detail[1].to_f] },
        dataset: { backgroundColor: @categories[1].color, borderColor: @categories[1].color},
        color: @categories[1].color
      },
      {
        name: @categories[2].name,
        data: @average_history.map { |average| [average.created_at, average.week_detail[2].to_f] },
        dataset: { backgroundColor: @categories[2].color, borderColor: @categories[2].color},
        color: @categories[2].color
      },
      {
        name: @categories[3].name,
        data: @average_history.map { |average| [average.created_at, average.week_detail[3].to_f] },
        dataset: { backgroundColor: @categories[3].color, borderColor: @categories[3].color},
        color: @categories[3].color
      },
      {
        name: @categories[4].name,
        data: @average_history.map { |average| [average.created_at, average.week_detail[4].to_f] },
        dataset: { backgroundColor: @categories[4].color, borderColor: @categories[4].color},
        color: @categories[4].color
      }
    ],
          defer: true, :style => "margin-top:30px;", suffix: " kg", decimal: ",", stacked: true, points: false
      %>
    </div>
  </div>
</div>
