
<div class="col-md-12 text-center">
  <h3>Welcome</h3>
  <div class="card">
    <div class="card-header card-header-info">
      <div class="emoji-title">
        📈
        <h4>
          Indice de consommation carbone hebdomadaire
        </h4>
      </div>
    </div>
    <div class="card-body">
      <%= column_chart @chart_data, defer: true, :style => "margin-top:30px;", suffix: " kg", decimal: ",", stacked: true %>
    </div>
  </div>
</div>
