<div class="row align-items-center">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <%= form_for @score do |form| %>
          <h3><strong>
            <small>Question 5 / 6</small>
            <br>
            Quelle est la taille de ton logement ?
          </strong></h3>
          <div class="form-group bmd-form-group">
            <%= form.number_field :house_size, :value => @default, class: "form-control", :autofocus => true %>
            <span class="bmd-help">La valeur par défaut correspond à la taille moyenne des logements dans ton pays.</span>
          </div>
          <div class="actions">
            <%= form.submit 'Continuer', class: 'btn btn-primary btn-round' %>
          </div>
        <% end %>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class="active"></li>
      <li class=""></li>
      <li class=""></li>
    </ol>
  </div>
  <div class="col-md-3">
    <%= render "score" %>
  </div>
</div>
