<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= link_to 'Modifier', edit_user_registration_path %>

<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "Cancel my account", user_registration_path, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
