<% content_for :title do %>Découvre Carbo<% end %>
<% content_for :description do %>L'application qui calcule et compense pour toi l’impact carbone de tes dépenses quotidiennes<% end %>
<div class="faq">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <%= image_tag "faq.png", class: "img-fluid", :style => "margin-bottom: -30px; width: 40%;" %>
        <div class="card text-left">
          <div class="card-body">
            <div class="card-title">
              <h2>Tes questions, nos réponses</h2>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
              🔽 Etes-vous une association et comment vous financez-vous ?
            </button>
            <div class="collapse" id="collapse1">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>Le réchauffement climatique est un problème urgent. Nous faisons aujourd’hui le choix de l’Entreprise Sociale et Solidaire car nous considérons que c’est le moyen le plus efficace de fédérer une communauté portée vers l’action et de réunir des talents pour répondre au défi du siècle.</p>
                  <p>80% des abonnements Carbo financent directement nos projets de protection et de renouvellement des forêts. 20% permettent d’accompagner notre développement et de proposer le meilleur service possible à nos membres.</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              🔽 Comment calculez vous mes émissions de CO2 ?
            </button>
            <div class="collapse" id="collapse2">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>Nous prenons en compte toutes les émissions de CO2 des dépenses que nous pouvons catégoriser. Chaque fois que tu utilises une carte bancaire, nous analysons le type de dépense (essence, hotel, alimentation, etc.) et nous calculons le volume de CO2 associé.</p>
                  <p>Plus précisément, nous utilisons pour chaque dépense un facteur d’émission monétaire. Ce facteur, exprimé en C02 par Euro, permet d’estimer un ordre de grandeur du contenu carbone d’un bien ou d’un service à l’aide de son prix. Il est généralement compris entre quelques dizaines à quelques milliers de gCO2/€.</p>
                  <p>Pour information, le supercalculateur Carbo s’appuie sur des données environnementales publiques, reconnues et robustes. Nous nous appuyons notamment sur les travaux de l’ADEME, Aland et la Banque Mondiale.</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              🔽 Comment compensez vous mes émissions ?
            </button>
            <div class="collapse" id="collapse3">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>
                    En plantant des arbres !<br>
                    Nous opérons une sélection drastique des projets de protection et de renouvellement des forêts, pour retenir ceux qui séquestrent efficacement et durablement les émissions de CO2. Chaque projet soutenu vérifie les critères du label Gold Standard :
                    <ul>
                      <li>MESURABLE : le projet dispose d’un protocole fiable et reconnu par la communauté internationale</li>
                      <li>ADDITIONNEL : le projet ne peuvent se réaliser sans le soutien de la communauté Carbo, car leur modèle économique en dépend</li>
                      <li>TRANSPARENT : les responsables du projet partagent avec nous un maximum d’informations : résultats, jalons clefs, coûts, obstacles, succès, évolutions...</li>
                    </ul>
                  </p>
                  <p>Le coût de compensation Carbo s’appuie sur les travaux du Forest and Wood Products, à savoir qu’un arbre stocke en moyenne, 150 kg de CO2 pendant sa phase de croissance.</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              🔽 A quoi correspond votre niveau de précision ?
            </button>
            <div class="collapse" id="collapse4">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>Soyons clairs : les conventions de calcul sont multiples et il est très difficile aujourd’hui de déterminer le contenu carbone exact de chaque produit ou service. Carbo utilise une catégorisation détaillée de chaque transaction pour réaliser son calcul - par exemple, la catégorie Transport Aérien lorsque vous achetez un billet d’avion - ce qui permet d’atteindre un premier niveau de précision.</p>
                  <p>À l’image de Wikipédia, nous comptons à terme sur la participation active de la communauté Carbo : en fournissant régulièrement des informations complémentaires sur tes choix quotidiens, tu permettras d’enrichir progressivement notre calculateur.</p>
                  <p>Si tu as des suggestions, écris-nous meet.carbo@gmail.com !</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              🔽 Comment garantissez vous la confidentialité de mes données bancaires ?
            </button>
            <div class="collapse" id="collapse5">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>Rassure toi, tu n’as rien à craindre là dessus. Le respect de la confidentialité de tes données est et sera toujours une priorité pour nous. Nous n’exploiterons jamais les données de nos membres à des fins commerciales, c’est au coeur même de l’ADN de Carbo.</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
              🔽 Comment sécurisez-vous mes données bancaires ?
            </button>
            <div class="collapse" id="collapse6">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>La connexion à ton compte bancaire est 100% sécurisée. Tu es protégé par les règles françaises et européennes : nous respectons la réglementation en vigueur (DSP2) et aucun identifiant bancaire n’est visible au sein de l’application. La technologie Carbo est opérée par notre partenaire Bankin’, qui utilise les algorithmes de chiffrement (encryption) les plus robustes du marché et est régulièrement audité par des spécialistes de la sécurité. Nos serveurs sont en Europe : ils sont situés dans un endroit protégé 24h/24 et 7j/7.</p>
                </div>
              </div>
            </div>
            <button class="" type="" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
              🔽 Le fait de compenser n’est-il pas du greenwahsing ? Un droit à polluer ? Hypocrite ?
            </button>
            <div class="collapse" id="collapse7">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p>Nous devons radicalement diminuer nos émissions, mais nous ne pouvons pas les éviter. La compensation n’encourage pas les consommateurs à consommer plus, mais à <strong>assumer la responsabilité</strong> des dégâts causés quotidiennement à notre planète.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>
          Tu n’as pas trouvé réponse à ta question ? Écris nous à <%= link_to "team@hellocarbo.com", "mailto:team@hellocarbo.com" %>
        </h3>
      </div>
    </div>
  </div>
</div>
