<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-7">
          <div class="card-body">
            <h3>Connecte ton compte en banque pour commencer à calculer ton impact carbone automatiquement</h3>
            <p class="description">Tu peux y aller les yeux fermés, tout est sécurisé par notre partenaire Bankin'</p>
            <%= link_to 'Connecter mon compte', @redirect_url, :class => 'btn btn-primary btn-round' %>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag("gif_1.gif", :class => 'rounded img-fluid') %>
        </div>
      </div>
    </div>
  </div>
</div>
