<div class="row">
  <div class="col-lg-10 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <h3><strong>
              <small>✅ Bien noté <%= current_user.name %>, on verra plus tard</small>
              <br>
              Voici ce qu'on va pouvoir faire ensemble
            </strong></h3>
            <ol class="numbered-list">
              <li><strong>Suivre</strong> ton impact carbone facilement</li>
              <li>Le <strong>comparer</strong> avec d’autres profils</li>
              <li>Le <strong>réduire</strong> avec des recommendations adaptées</li>
              <li><strong>Compenser</strong> le reste en soutenant des super projets !</li>
            </ol>
            <p class="description">Psss... pour une expérience optimale avec nous, tu peux à tout moment autoriser la synchronisation de ton relevé bancaire depuis ton espace.</p>
            <div class="text-center">
              <%= link_to("Passer à l'action", root_path, :class => 'btn btn-primary btn-round ml-auto mr-auto', :style => 'margin-top:20px;') %>
            </div>
          </div>
          <div class="col-md-5 d-none d-md-block align-self-end">
            <%= image_tag("onboarding_4.png", :class => 'img-fluid animation-top') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
