<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <h3><strong>
              <small>Bienvenue à bord <%= current_user.name %> !</small>
              <br>
              Sécurise ton compte
            </strong></h3>
            <p>Difficile de déterminer ton empreinte carbone une fois pour toute, car tes choix quotidiens peuvent évoluer. </p>
            <p>Carbo analyse tes dépenses régulièrement : sans effort, le calcul de ton impact est constamment à jour !</p>
            <p>La protection de tes données est une priorité pour nous, c’est pourquoi Bankin’, notre partenaire bancaire va sécuriser ton compte à partir de ton email d’inscription.</p>
          </div>
          <div class="col-md-5 d-none d-md-block align-self-center">
            <%= image_tag("onboarding_1.png", :class => 'img-fluid') %>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= render 'form', bridge: @bridge %>
        </div>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class="active"></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
    </ol>
  </div>
</div>
