<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <h3><strong>
              <small>Ce que tu vas pouvoir faire avec Carbo</small>
              <br>
              Découvre ton dashboard
            </strong></h3>
            <p><span class="text-primary">Suis</span> ton empreinte carbone au fil du temps</p>
            <p><span class="text-primary">Comprends</span> en détail l’impact de chacune de tes dépenses</p>
            <p><span class="text-primary">Réduis</span> ton impact avec des recommendations adaptées</p>
            <p><span class="text-primary">Compense</span> en soutenant nos projets de puits de carbone</p>
          </div>
          <div class="col-md-5 d-none d-md-block align-self-end">
            <%= image_tag("onboarding_4.png", :class => 'img-fluid animation-top') %>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= link_to("Accéder à l'application", '/dashboard', :class => 'btn btn-primary btn-round ml-auto mr-auto', :style => 'margin-top:20px;') unless Transaction.find_by_user_id(@user.id).nil? %>
          <%= link_to("Rafraichir", "", :class => 'btn btn-primary btn-round') if Transaction.find_by_user_id(@user.id).nil? %>
        </div>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class="active"></li>
    </ol>
  </div>
</div>
