<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <h3><strong>
              <small>Ce que tu vas pouvoir faire avec Carbo</small>
              <br>
              Découvre ton dashboard
            </strong></h3>
            <p><span class="text-primary">Suivre</span> ton impact au fil du mois, son coût de compensation, le comparer à tes performances passées et à celles des membres</p>
            <p><span class="text-primary">Comprendre</span> en détail l’impact de chacune de tes dépenses, en naviguant au sein des catégories et en parcourant l’historique</p>
            <p><span class="text-primary">Progresser</span> chaque jour et réduire ton impact en apprenant des meilleurs profils et en suivant des recommendations sur mesure</p>
            <p><span class="text-primary">Compenser</span> ton empreinte en découvrant nos projets de puits de carbone et en souscrivant à l’abonnement mensuel de ton choix</p>
          </div>
          <div class="col-md-5 d-none d-md-block align-self-end">
            <%= image_tag("onboarding_4.png", :class => 'img-fluid animation-top') %>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= link_to("Accéder à l'application", '/dashboard', :class => 'btn btn-primary btn-round ml-auto mr-auto', :style => 'margin-top:20px;') unless Transaction.find_by_user_id(@user.id).nil? %>
          <%= link_to("Rafraichir", "", :class => 'btn btn-primary btn-round') if Transaction.find_by_user_id(@user.id).nil? %>
        </div>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class="active"></li>
    </ol>
  </div>
</div>
