<div class="row">
  <div class="col-lg-10 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <h3><strong>
              <small>✅ Données bancaires synchronisées avec succès</small>
              <br>
              Bienvenue dans la communauté <%= current_user.name %> !
            </strong></h3>
            <p>
              Le supercalculateur Carbo est en train de faire son oeuvre. Quand notre belle montgolfière aura pleinement pris son envol, il ne te restera plus qu’à accéder à ton espace pour :
            </p>
            <ol class="numbered-list">
              <li><strong>Suivre</strong> ton impact carbone facilement</li>
              <li>Le <strong>comparer</strong> avec d’autres profils</li>
              <li>Le <strong>réduire</strong> avec des recommendations adaptées</li>
              <li><strong>Compenser</strong> le reste en soutenant des super projets !</li>
            </ol>
            <div class="text-center">
              <%= link_to("Passer à l'action", root_path, :class => 'btn btn-primary btn-round ml-auto mr-auto', :style => 'margin-top:20px;') unless Transaction.find_by_user_id(@user.id).nil? %>
              <%= link_to("Rafraichir", "", :class => 'btn btn-primary btn-round') if Transaction.find_by_user_id(@user.id).nil? %>
            </div>
          </div>
          <div class="col-md-5 d-none d-md-block align-self-end">
            <%= image_tag("onboarding_4.png", :class => 'img-fluid animation-top') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
