<div id="carouselContribution" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselContribution" data-slide-to="0" class="active"></li>
    <li data-target="#carouselContribution" data-slide-to="1"></li>
    <li data-target="#carouselContribution" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <%= image_tag "Logo_Pur_Projet.png", :style => 'width:100%;max-width:200px;height:auto;' %>
            </div>
            <div class="col-md-8">
                Carbo s'associe à Pur Projet pour permettre à tous nos membres de neutraliser leur impact carbone de manière simple : en faisant pousser nos propres arbres.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <%= image_tag "lama.png" %>
            </div>
            <div class="col-md-8">
              Une partie de tes arbres poussera au Pérou : notre projet y est certifié par Gold Standard et permet d’attester ta compensation. Le reste sera planté en France, dans la région de ton choix.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <%= image_tag "arbres.png" %>
            </div>
            <div class="col-md-8">
              On a estimé ensemble ton empreinte carbone à 380 kg CO2. Chacun arbre Carbo peut en absorber environ 150 pendant sa vie. Chaque mois, il te faut donc idéalement planter 2.4 arbres.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
