<div class="row justify-content-center">
  <div class="col-6">
    <div class="card text-center">
      <h1 class="card-title">Subscribe</h1>
      <hr />
      <p>Chosen plan: <strong><%= params[:plan] %>
      <hr/>
      <div class="card-body">
        <%= form_tag subscriptions_path, id: "payment-form" do |form| %>
          <div class="field">
            <label for="card-element" class="label">Enter credit or debit card</label>

            <div id="card-element" class="MyCardElement">
              <!-- A Stripe element will be intserted here !-->
            </div>

            <div id="card-errors" role="alert"></div>

            <%= hidden_field_tag :plan_id, Rails.application.credentials[:stripe][Rails.env.to_sym][:static_plan] %>
            <%= hidden_field_tag :quantity, params[:quantity] %>

            <button class="btn btn-round btn-primary">Activer mon forfait</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
