<% content_for :title, "Compenser mon impact" %>
<div class="row text-center justify-content-center">
  <div class="col-md-8">
    <h3>
      Merci <%= current_user.name %> !<br>
      <small>et bravo pour ton engagement</small>
    </h3>
    <%= image_tag("subscription_show.png", class: "img-fluid", :style => "width:50%;") %>
    <p>
      Tu retrouveras très prochainement dans cette rubrique les informations concernant ton abonnemenet et l'actualité des projets que tu soutiens.
    </p>
    <%= link_to "Revenir au dashboard", '/track', class: "btn btn-primary btn-round" %>
    <%= link_to("Arrêter mon abonnement", '/subscriptions', :data => { :confirm => "Es-tu sûr?" }, :method => :delete, :class => "btn btn-danger-outline btn-round") %>
  </div>
</div>
