<%= link_to subscriptions_path do %>
  <div class="card">
    <div class="card-header card-header-warning">
      <h4>PROJET DU MOIS</h4>
      <p class="big text-info mr-auto ml-auto">
         Kariba Redd++, la forêt communautaire
      </p>
      <div class="subtitle">
        <span>
          SOUTENU PAR
          <%= @users.count + 12 %>
          MEMBRES
        </span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        Chaque mois, l’équivalent de
        <%= @cars %>
        🚗sont retirées de la route par les abonnés Carbo !
      </p>
    </div>
  </div>
<% end %>
