<%= link_to "/subscriptions/project" do %>
  <div class="card" id="compenser">
    <div class="card-header card-header-warning">
      <h4>PROJET DU MOIS</h4>
      <p class="big text-info mr-auto ml-auto">
         Agroforesterie et reboisement en Hauts-de-France
      </p>
      <div class="subtitle">
        <span>
          SOUTENU PAR
          <%= @users.count + 57 %>
          MEMBRES
        </span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        Chaque mois,
        <%= @trees %>
        🌳 sont plantés ou sauvés par les abonnés Carbo !
      </p>
    </div>
  </div>
<% end %>
