<%= link_to '/compare' do %>
  <div class="card">
    <div class="card-header card-header-danger">
      <h4>MON IMPACT</h4>
      <p class="big text-info mr-auto ml-auto">
         Investir dans un véhicule plus propre
      </p>
      <div class="subtitle">
        <span>170 KGC02 ÉVITÉS</span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        Et tu pourrais économiser
        230
        €/an ! <br>
        <strong class="text-primary">Découvre toutes tes astuces ici</strong>
      </p>
    </div>
  </div>
<% end %>
