.onboarding-page {
  background-image: url("bg_3.png");
  background-position: right 0% top 0%;
  font-family: Muli;
  padding-top: 80px;
}

.mini-navigation .navbar-brand {
  font-size: 2em;
  font-family: Maven Pro;
  font-weight: 900;
}
