@import "material/scss/material-kit/variables";

.onboarding-page {
  background-image: url("bg_3.png");
  background-position: right 0% top 0%;
  font-family: Quicksand;
}

.onboarding-page .form-group label {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .onboarding-page {
    height: auto;
    min-height: 100vh;
    padding-top: 60px;
  }
}

.mini-navigation {
  position: absolute;
}

.mini-navigation .navbar-brand {
  font-size: 2em;
  font-family: Maven Pro;
  font-weight: 900;
}

.onboarding-page h3 {
  text-transform: none;
  color: $brand-primary;
}

.onboarding-page h3 small {
  text-transform: none;
  color: #828282;
  font-weight: bold;
  font-size: 65%;
}

.onboarding-indicator {
  position: absolute;
  right: 0;
  /* bottom: 10px; */
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.onboarding-indicator li {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    margin-left: 6px;
    /* text-indent: -999px; */
    background-color: $brand-grey;
    border-radius: 100px;
}

.onboarding-indicator li.active {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: -1px;
    background-color: $brand-primary;
}

.security-details {
  background: $brand-info;
  color: white;
  height: 412px;
  padding-top: 30px !important;
  padding-bottom: 40px !important;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  h5 {
    border: white 1px solid;
    border-radius: 20px;
    padding: 5px 2px;
    margin-bottom: 40px;
  }
  .row {
  margin-top: 30px;
  margin-bottom: 30px;
  }
  .bank {
    width: 25px;
    opacity: 0.6;
    margin-right: 5px;
  }
}

.animation-top {
  -webkit-transition: 4s ease-in-out;
  -moz-transition: 4s ease-in-out;
  -o-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
}

html:hover .animation-top {
  -webkit-transform: translate(0px,-500px);
  -moz-transform: translate(0px,-500px);
  -o-transform: translate(0px,-500px);
  -ms-transform: translate(0px,-500px);
  transform: translate(0px,-500px);
}
