@import "material/scss/material-kit/variables";
@import "material/scss/material-kit/mixins";

.card {
  color: inherit;
}

.card .card-header {
  border-radius: 6px;
  padding: 0.5rem 15px;
}

.card .card-header.card-header-dark, .card-header.card-header-info {
  background: linear-gradient(60deg, $brand-medium-blue, $brand-dark-blue);
  @include shadow-big-color($brand-dark-blue);
}

.card.border-primary {
  border: 1px;
  border-style: solid;
  border-color: $brand-primary !important;
}

.card.border-info {
  border: 1px;
  border-style: solid;
  border-color: $brand-info !important;
}

.card.border-warning {
  border: 1px;
  border-style: solid;
  border-color: $brand-warning !important;
}

.table {
  margin-top: 1em;
}

.table thead th {
  border-top: none;
}

.table td {
  vertical-align: middle;
}

.number {
  font-family: Baloo;
}

.number-lg {
  font-size: 5em;
}

.number-md {
  font-size: 3em;
}
