@import "material/scss/material-kit/variables";
@import "material/scss/material-kit/mixins";

.card {
  color: inherit;
  border-radius: 12px !important;
}

.card .card-header {
  border-radius: 12px;
}

.card-title {
  font-family: Maven Pro;
}

.main-panel .card .card-header {
  border-radius: 12px 12px 0px 0px;
  padding: 0.5rem 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px
}

.card .card-header.card-header-dark {
  background: linear-gradient(60deg, lighten($brand-dark-blue, 10%), $brand-dark-blue);
}

.main-panel .card.bg-dark {
  background: $brand-dark-blue;
}

.main-panel .card.bg-dark .card-header.card-header-dark {
  background: $brand-dark-blue;
  border-bottom: 1px solid white;
}

.main-panel .card .card-header.card-header-info, .card.bg-info {
  /* background: linear-gradient(60deg, lighten($brand-info, 10%), $brand-info); */
  background: $brand-info;
}

.main-panel .card.bg-info .card-header.card-header-info {
  border-bottom: 1px solid white;
}

.main-panel .card .card-header.card-header-info {
  box-shadow: none;
}

.main-panel .card .card-header.card-header-primary {
  /* background: linear-gradient(60deg, lighten($brand-primary, 10%), $brand-primary); */
  background: $brand-primary;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-warning {
  /* background: linear-gradient(60deg, lighten($brand-warning, 10%), $brand-warning); */
  background: $brand-warning;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-success {
  background: $brand-success;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-danger {
  background: $brand-danger;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-rose {
  background: $brand-rose;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-violet {
  background: $brand-violet;
  box-shadow: none;
}

.main-panel .card .card-header.card-header-orange {
  background: $brand-orange;
  box-shadow: none;
}

.card .card-header.card-header-violet-orange {
  background: linear-gradient(90deg, $brand-violet 0%, $brand-orange 100%);
}

.card .card-title.emoji-title {
  font-size: 3em;
  margin-top: -15px;
}

.card .card-header .emoji-title {
  font-size: 2.5em;
  margin-top: -20px;
  h4 {
    margin-top: 5px;
  }
  img {
    width: 50px;
  }
}

.card .card-header .img-title {
  font-size: 2.5em;
  margin-top: -40px;
  h4 {
    margin-top: 5px;
  }
  img {
    width: 50px;
  }
}

.card.border-primary {
  border: 1px;
  border-style: solid;
  border-color: $brand-primary !important;
}

.card.border-info {
  border: 1px;
  border-style: solid;
  border-color: $brand-info !important;
}

.card.border-warning {
  border: 1px;
  border-style: solid;
  border-color: $brand-warning !important;
}

.card.border-rose {
  border: 1px;
  border-style: solid;
  border-color: $brand-rose !important;
}

.card.border-danger {
  border: 1px;
  border-style: solid;
  border-color: $brand-danger !important;
}

.card.border-violet {
  border: 1px;
  border-style: solid;
  border-color: $brand-violet !important;
}


.table {
  margin-top: 1em;
}

.table thead th {
  border-top: none;
}

.table td {
  vertical-align: middle;
}

.number {
  font-family: Baloo;
}

.number-lg {
  font-size: 4.4em;
  line-height: 1em;
}

.number-md {
  font-size: 3em;
  line-height: 1em;
}

.number-sm {
  font-size: 1.5em;
}

.tag-line {
  margin-top: -1em;
  margin-bottom: 2em;
}

.tag {
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Quicksand;
  padding: 3px 5px 3px 5px;
  text-transform: uppercase;
}

.tag-info {
  background-color: #b1c4cb;
  color: $brand-info;
}

.tag-primary {
  background-color: #bae2e0;
  color: $brand-primary;
}

.tag-warning {
  background-color: #fae7c3;
  color: $brand-warning;
}

.tag-rose {
  background-color: #ffc1ce;
  color: $brand-rose;
}

.tag-violet {
  background-color: #e2e0ff;
  color: $brand-violet;
}

.tag-orange {
  background-color: #ffe7dc;
  color: $brand-orange;
}

.card .card-footer {
  display: block;
}
