
.month-nav i {
  font-size: 40px;
  background: #F8F7FC;
  border-radius: 40px;
}

.table-category {
  margin-top: 1em;
}

.table-category thead th {
  border-top: none;
}

.table-category td {
  vertical-align: middle;
}

.category-pill {
  border-radius: 30px;
  width:30px;
  height:30px;
}
