
.month-nav i {
  font-size: 40px;
  background: #F8F7FC;
  border-radius: 40px;
}

.category-pill {
  border-radius: 30px;
  width:30px;
  height:30px;
}

.illustration {
  opacity: 0.3;
  padding: 20px;
}

.card .card-title.emoji-title {
  font-size: 2.5em;
  margin-top: -15px;
}

.emoji {
  font-size: 2.5em;
}

.big {
  font-size: 1.1em;
}
