
.month-nav i {
  font-size: 40px;
  background: #F8F7FC;
  border-radius: 40px;
}

.category-pill {
  border-radius: 30px;
  width:30px;
  height:30px;
}

.illustration {
  opacity: 0.3;
  padding: 20px;
}
