@import "material/scss/material-kit/variables";

.month-nav {
  margin-bottom: 0.625rem !important;
}

.month-nav i {
  font-size: 24px;
  background: #F8F7FC;
  border-radius: 32px;
  padding: 5px;
}

.piechart-title {
  width: 90px;
  position:absolute;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(0,120px);
  -moz-transform: translate(0,120px);
  -o-transform: translate(0,120px);
  -ms-transform: translate(0,120px);
  transform: translate(0,120px);
  div {
    position: relative;
    left: -50%;
  }
}

.table-category {
  line-height: 1.2em;
  .inactive {
  color: grey;
  opacity: 0.6;
  }
}

.category-pill {
  border-radius: 30px;
  width:30px;
  height:30px;
}

.category-pill-small {
  border-radius: 20px;
  width:20px;
  height:20px;
}

.illustration {
  opacity: 0.3;
  padding: 20px;
}

.emoji {
  font-size: 2.5em;
}

.big {
  font-size: 1.1em;
}
