@import "material/scss/material-kit/variables";

.category-resume {
  margin-top: 20px;
  margin-bottom: 40px;
  .col-6 {
  border-bottom: 1px $brand-grey solid;
  }
  .text-right {
    color: $brand-violet;
  }
  .text-left {
    color: $brand-orange;
  }
  .col-3 {
    margin-bottom: -20px;
  }
  i {
    font-size: 2em;
    opacity: 0.5;
  }
  .text-left .winner {
    margin-left: 20px;
    opacity: 0.5;
    font-size: 0.8em;
  }
  .text-right .winner {
    margin-right: 20px;
    opacity: 0.5;
    font-size: 0.8em;
  }
}

.row.collapse.show {
  display: flex;
  margin-top: -40px;
}
