@import "material/scss/material-kit/variables";

.category-resume {
  margin-top: 20px;
  margin-bottom: 40px;
  .col-md-6{
    border-bottom: 1px $brand-grey solid;
    span {
      font-size: 0.8em;
    }
  }
  .text-right {
    color: $brand-violet;

  }
  .text-left {
    color: $brand-orange;
  }
  .col-md-3 {
    margin-bottom: -40px;
  }
  i {
    font-size: 2em;
    opacity: 0.5;
  }
  .text-left .winner {
    margin-left: 20px;
    opacity: 0.5;
    font-size: 0.8em;
  }
  .text-right .winner {
    margin-right: 20px;
    opacity: 0.5;
    font-size: 0.8em;
  }
}

.row.collapse.show {
  display: flex;
  margin-top: -40px;
}

.push-invitation {
  background: $brand-light-cyan;
  border-radius: 12px;
  box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.1);
  .emoji {
    opacity: 0.6;
  }
  p {
    font-size: 12px;
    margin-top: 10px;
  }
}

#versus .card .card-body {
  padding: 1.25rem;
}

.carousel.opponent-carousel .carousel-item.active, .carousel-item.carousel-item-next {
  display: flex;
}

.carousel.opponent-carousel .carousel-item a {
  opacity: 0.7;
  color: $brand-dark-blue;
}

.carousel.opponent-carousel .carousel-item a.active, .carousel.opponent-carousel .carousel-item a:hover {
  opacity: 1;
  font-weight: bold;
  color: $brand-primary;
  img {
  border-radius: 100px;
  border: 5px solid $brand-primary;
  }
}

.carousel.opponent-carousel .carousel-item a div {
  background: $brand-info;
  color: white;
  font-weight: bold;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 100px;
  font-size: 3em;
}

.carousel.opponent-carousel .carousel-item a:hover div {
  border-radius: 100px;
  border: 5px solid $brand-primary;
}
