.alert {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2000;
    width: auto;
}

.modal-content {
  background: #0B4C65;
  border-radius: 0px 0px 30px 30px;
  color: #FFFFFF;
}

.modal-content i {
  font-size: 64px;
  margin-bottom: 20px;
}
