.mission2 {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-image: url("mission2.png");
    background-position: right 0% bottom 0%;
    background-size: 35%;
    background-repeat: no-repeat;
}

.mission2 h2 {
  font-size: 3.5rem;
  line-height: 3.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.mission3 {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-image: url("mission3.png");
    background-position: left 0% bottom 0%;
    background-size: 40%;
    background-repeat: no-repeat;
}
