@import "material/scss/material-kit/variables";

body {
  font-family: Quicksand;
}

footer {
  font-family: Quicksand;
  background-color: white;
}

.card-title {
  font-family: Maven Pro;
}

h1, h2, h3, h4 {
  font-family: Maven Pro;
}

p, a {
  font-family: Quicksand;
}

.social-line a {
  color: white !important;
  margin-top: 0rem;
}

.registration-page {
  background-image: url("bg_2.png");
  background-position: right 0% top 0%;
  padding-top: 60px;
}

.onboarding-navigation .navbar-brand {
  font-family: Maven Pro;
  font-weight: 900;
  padding-top: 0px;
}

.onboarding-navigation .nav-link {
  font-family: Quicksand;
  font-weight:700 !important;
  color: $brand-grey;
}
