.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #0B4C65;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .logo {
    padding: 5px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    text-align: center;
}

.sidebar .logo a {
    color: white;
    opacity: 0.7;
    font-family: Maven Pro;
    font-weight: 900;
}

.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.sidebar, .main-panel, .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}

.sidebar .nav {
    margin-top: 30px;
    display: block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}


.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
    margin: 10px 15px 0;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    color: #DFE0EB;
    opacity: 0.7;
    padding: 10px 15px;
}

.sidebar li.active>a, .sidebar li:hover>a {
    background-color: #20B2AA;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 178, 170, 0.4);
}

.sidebar .nav li.active>a, .sidebar li:hover>a, .sidebar .nav li.active>a i, .sidebar .nav li:hover>a i {
    color: #fff;
    opacity: 1;
}

.bottom-nav {
    margin-bottom: 0;
    background: #0B4C65;
    height: 50px;
    padding: 0;
}

.bottom-nav p {
    font-size: 10px;
}

.bottom-nav ul {
    width: 100%;
    height: 50px;
    align: center;
}

.bottom-nav li {
    width: 25%;
}

.bottom-nav a {
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.bottom-nav .container {
    padding: 0;
}
