@import "material/scss/material-kit/variables";

.stat {
  border-radius: 120px;
  width: 120px;
  height: 120px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  .number-md {
    line-height: 1.5em;
  }
}

.stat-info {
  background-color: $brand-info;
}

.stat-primary {
  background-color: $brand-primary;
}

.stat-warning {
  background-color: $brand-warning;
}

.tip {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.packs {
  .card {

    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-header {
    font-weight: bold;
    h4 {
      color: $brand-info;
    }
  }
  .card-body {
    font-size: 12px;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.2em;
    .row {
      margin-bottom: 1em;
    }
    .emoji {
      font-size: 1.8em;
    }
    .bmd-form-group {
      padding-top: 0;
    }
  }
  .illu {
  height: 20%;
  margin-bottom: -35px;
  }
}

.new_subscription {
  .form-group {
    margin-bottom: 0;
  }
  .bmd-form-group {
    padding-top: 0;
  }
}

.big-input-rose {
  font-family: Baloo;
  font-size: 2em;
  line-height: 2em !important;
  color: $brand-rose;
}

.big-input-info {
  font-family: Baloo;
  font-size: 2em;
  line-height: 2em !important;
  color: $brand-info;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: #ECF0EF;
  border: 1px solid $brand-primary;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 $brand-light-cyan;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.payment-card {
  label {
    color: #3C4858;
  }
  i {
    font-size: 16px;
    margin-right: 3px;
  }
}

#cgv {
  text-align: left;
  margin-top: 15px;
}

.payment-detail-card {
  small.description {
    color: $brand-grey;
    font-size: 0.6em;
    font-weight: bold;
  }
  h5 {
    margin-bottom: 0px;
  }
}

span.currency-spinner input[type=number] {
  float: left;
  width: 55px;
  height: 35px;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: $brand-dark-blue;
  border: 2px $brand-dark-blue solid;
  border-left: 1px $brand-dark-blue solid;
  background: none;
  outline: none;

}

span.currency-spinner {
  display: inline-flex;
  height: 35px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.currency-spinner > .input-group-text {
  float: left;
  display: block;
  line-height: 1em;
  border: 2px $brand-dark-blue solid;
  border-right: 0;
  width: 25px;
  background: $brand-grey;
}

span.currency-spinner > .sub,
span.currency-spinner > .add {
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 30px;
  color: $brand-dark-blue;
  border: 2px $brand-dark-blue solid;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.currency-spinner > .add {
  top: 0;
  border: 2px $brand-dark-blue solid;
  border-left: 0;
  border-radius: 0 6px 6px 0;
}

span.currency-spinner > .sub:hover,
span.currency-spinner > .add:hover {
  background: $brand-primary;
  color: white;
}
