@import "material/scss/material-kit/variables";

.select2-container {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: inline-block;
}

.select2-container--bootstrap .select2-results__group {
  color: $brand-primary;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid;
  text-transform: uppercase;
  text-align: center;
}

.dashboard2 {
  .card {
    height: 90%;
  }
  #chart-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body .bmd-form-group {
  color: white;
}

label.btn.selected {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

.btn-outline-info:not(:disabled):not(.disabled):hover, .btn-outline-info:not(:disabled):not(.disabled).hover, .show > .btn-outline-info.dropdown-toggle {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

label.btn:hover {
  background: $brand-primary;
  color: white;
}

.transaction-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.accuracy {
  opacity: 0.3;
}

.accuracy.active {
  opacity: 1;
}
