@import "material/scss/material-kit/variables";

.select2-container {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: inline-block;
}

.select2-container--bootstrap .select2-results__group {
  color: $brand-primary;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid;
  text-transform: uppercase;
  text-align: center;
}

.dashboard2 {
  .card {
    height: 90%;
  }
  #chart-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body .bmd-form-group {
  color: white;
}

label.btn.selected {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

.btn-outline-info:not(:disabled):not(.disabled):hover, .btn-outline-info:not(:disabled):not(.disabled).hover, .show > .btn-outline-info.dropdown-toggle {
  background: $brand-primary;
  border-color: $brand-primary;
  color: white;
}

label.btn:hover {
  background: $brand-primary;
  color: white;
}

.transaction-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.accuracy {
  opacity: 0.3;
}

.accuracy.active {
  opacity: 1;
}

.edit_transaction, .edit_account {
  span.spinner input[type=number] {
    float: left;
    width: 50px;
    height: 35px;
    padding: 0;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: $brand-dark-blue;
    border: 1px $brand-grey solid;
    background: none;
    outline: none;
  }

  span.spinner {
    height: 35px;
  }

  span.spinner > .input-group-text {
    float: left;
    display: block;
    border: 1px $brand-grey solid;
    border-right: 0;
    width: 20px;
    background: $brand-grey;
  }

  span.spinner > .sub,
  span.spinner > .add {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    font-size: 1em;
    line-height: 30px;
    color: $brand-dark-blue;
    border: 1px $brand-grey solid;
  }

  span.spinner > .add {
    top: 0;
    border: 1px $brand-grey solid;
    border-left: 0;
    border-radius: 0 6px 6px 0;
  }

  span.spinner > .sub{
    border-right-width: 0px;
  }
}


