.select2-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.dashboard2 {
  .card {
    height: 90%;
  }
  #chart-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body .bmd-form-group {
  color: white;
}
