@import "material/scss/material-kit/variables";

.select2-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.select2-container--bootstrap .select2-results__group {
  color: $brand-primary;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid;
  text-transform: uppercase;
  text-align: center;
}

.dashboard2 {
  .card {
    height: 90%;
  }
  #chart-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body .bmd-form-group {
  color: white;
}

label.btn.selected {
  background: $brand-primary;
  color: white;
}

.transaction-title {
  padding-top: 15px;
  padding-bottom: 15px;
}
