<div class="card">
  <div class="card-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% for i in 0..2 %>
          <div class="carousel-item <%= "active" if  i == 0 %>">
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="card-title emoji">
                  <%= Equivalent.find(@analysis[i][0]).emoji %>
                </div>
                <div>
                  <p class="big">
                    <%= @analysis[i][1] %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="material-icons">arrow_back</i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="material-icons">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
