<div class="card">
  <div class="card-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="card-title emoji">
                🎈
              </div>
              <div class="blockquote">
                <p>
                  Attention à tes dépenses en Trotinettes ! Pour te donner une idée, +25 kgC02 suffirait à gonfler 382 ballons...
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="card-title emoji">
                🎈
              </div>
              <div class="blockquote">
                <p>
                  Attention à tes dépenses en Trotinettes ! Pour te donner une idée, +25 kgC02 suffirait à gonfler 382 ballons...
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="card-title emoji">
                🎈
              </div>
              <div class="blockquote">
                <p>
                  Attention à tes dépenses en Trotinettes ! Pour te donner une idée, +25 kgC02 suffirait à gonfler 382 ballons...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="material-icons">arrow_back</i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="material-icons">arrow_forward</i>
      </a>
    </div>
  </div>
</div>
