<div class="card-title month-nav">
  <div class="row">
    <div class="col-3 text-right mt-auto mb-auto">
      <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
        <i class="material-icons">arrow_back</i>
      <% end %>
    </div>
    <div class="col-6 text-center mt-auto mb-auto">
      <h4>
        <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
      </h4>
    </div>
    <div class="col-3 text-left mt-auto mb-auto">
      <% if params[:month].to_i > 0 %>
        <%= link_to(:month => (params[:month].to_i) - 1)  do %>
          <i class="material-icons">arrow_forward</i>
        <% end %>
      <% else %>
        <i class="material-icons"style="opacity:0.4;">arrow_forward</i>
      <% end %>
    </div>
  </div>
</div>
