<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= pie_chart current_user.transactions.group(:parent_category_id).sum(:carbone) %>
      <table class="table">
        <tbody>
          <% @parent_categories.each do |category| %>
            <tr>
              <td>
                <%= category.name %>
              </td>
              <td>
                <%= @transactions.parent_category_id(category.external_id).sum(&:carbone) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
