
  <div class="stepbar-container">
      <ul class="stepbar ecommerce">
        <li class=""><div class="bulle">📍</div></li>
        <li class=""><div class="bulle">🎁</div></li>
        <li class=""><div class="bulle">💝</div></li>
        <li class=""><div class="bulle">💳</div></li>
        <li class=""><div class="bulle">🚀</div></li>
      </ul>
  </div>

