<nav class="navbar navbar-light fixed-top navbar-expand-lg bg-primary navbar-transparent navbar-color-on-scroll mini-navigation" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate ml-auto mr-auto">
      <%= link_to(root_path, class: 'navbar-brand') do %>
        <%= image_tag("Logo-Carbo-Blue", style: "width:55px;") %>
        Carbo
      <% end %>
    </div>
  </div>
</nav>
