<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to 'Mission', page_path('mission'), class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Comment ça marche', "/pages/about#section3", class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Offrir Carbo 🎅', page_path('gift'), class: 'nav-link' %>
</li>
