<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to 'A propos', "https://www.hellocarbo.com/mission-agir-pour-le-climat/", class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Projets locaux', "https://www.hellocarbo.com/compenser-mon-empreinte-carbone/", class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Particuliers', "https://www.hellocarbo.com/#principe", class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Entreprises', "https://www.hellocarbo.com/bilan-carbone-entreprises/", class: 'nav-link' %>
</li>
