<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to 'Notre mission', page_path('about'), class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Fonctionnalités', page_path('about'), class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Equipe', page_path('about'), class: 'nav-link' %>
</li>
