<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to page_path('about'), class: 'nav-link' do %>
    <i class="material-icons">contact_support</i>
    A propos
  <% end %>
</li>
