<div class="push-bridge text-center">
  Pssss... pour profiter pleinement de Carbo, fais comme Donald et connecte ton relevé bancaire !
  <%= link_to "Connecter", new_bridge_path, class: "btn btn-sm btn-round btn-white" %>
</div>
